<p id="notice"><%= notice %></p>
<div class="container">
<h1>Balance Sheet</h1>

    <table class="table">
      <thead>
        <tr>
          <th> Date </th>
          <th> Name </th>
          <th> Open </th>
          <th> Close </th>
          <th> Previous Close </th>
          <th> % change</th>
          <th> Shares owned</th>
          <th> Price paid</th>
        </tr>
      </thead>
      <tbody>
        <% @balance_sheet.each do |equity| %>
        <% data = YahooFinance::Client.new%>
        <% equity_data = data.quotes([equity.symbol],[:ask,:name,:open,:close,:previous_close,:change_in_percent])%>
        <tr>
        <td><%= equity.updated_at.localtime.strftime("%m/%d/%Y %I:%M%P")%></td>
        <td><%= equity_data[0].open%></td>
        <td><%= equity_data[0].close%></td>
        <td><%= equity_data[0].previous_close%></td>
        <td><%= equity_data[0].change_in_percent%></td>
        <td><%= equity.shares_owned %></td>
        <td><%= equity.price_paid %></td>
        <td><%= link_to 'Edit', edit_equity_path(equity) %></td>
        <td><%= link_to 'Destroy', equity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>

      </tbody>

    </table>


<br>

<%= link_to 'Back to Home', equities_path, class: "btn btn-outline-success" %>
