<p id="notice"><%= notice %></p>
<div class="container">
<h1>Equities</h1>

    <table class="table">
      <thead>
        <tr>
          <th> Symbol </th>
          <th> Name </th>
          <th> Open </th>
          <th> Close </th>
          <th> Previous Close </th>
          <th> % change</th>
          <th> Shares owned</th>
          <th> Price paid</th>
        </tr>
      </thead>
      <tbody>
        <% @equities.each do |equity| %>
        <% data = YahooFinance::Client.new%>
        <% equity_data = data.quotes([equity.symbol],[:ask,:name,:open,:close,:previous_close,:change_in_percent])%>
        <tr>
        <td><%= equity.symbol %></td>
        <td><%= equity_data[0].name%></td>
        <td><%= equity_data[0].open%></td>
        <td><%= equity_data[0].close%></td>
        <td><%= equity_data[0].previous_close%></td>
        <td><%= equity_data[0].change_in_percent%></td>
        <td><%= equity.shares_owned %></td>
        <td><%= equity.price_paid %></td>
        <td><%= link_to 'Edit', edit_equity_path(equity) %></td>
        <td><%= link_to 'Destroy', equity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>

      </tbody>

    </table>


<br>

<%= link_to 'New Equity', new_equity_path, class: "btn btn-outline-success" %>
<span>&nbsp;&nbsp;&nbsp;</span>
<%= link_to "Check Balance Sheet", balance_sheets_path, class: "btn btn-outline-danger" %>
</div>
