<p id="notice"><%= notice %></p>
<div class="container">
<h1>Equities</h1>

    <table class="table">
      <thead>
        <tr>
          <th> Symbol </th>
          <th> Name </th>
          <th> Open </th>
          <th> Close </th>
          <th> Previous Close </th>
          <th> % change</th>
          <th> Shares owned</th>
          <th> Price paid</th>
        </tr>
      </thead>
      <tbody>
        <% @equities.each do |equity| %>
        <tr>
        <td><%= equity.symbol %></td>
        <td><%= StockQuote::Stock.quote(equity.symbol).name %></td>
        <td><%= StockQuote::Stock.quote(equity.symbol).open %></td>
        <td><%= StockQuote::Stock.quote(equity.symbol).close %></td>
        <td><%= StockQuote::Stock.quote(equity.symbol).previous_close %></td>
        <td><%= StockQuote::Stock.quote(equity.symbol).change_percent_change %></td>
        <td><%= equity.shares_owned %></td>
        <td><%= equity.price_paid %></td>
        <td><%= link_to 'Edit', edit_equity_path(equity) %></td>
        <td><%= link_to 'Destroy', equity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>

      </tbody>

    </table>


<br>

<%= link_to 'New Equity', new_equity_path %>
</div>
